<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Quiz app.</h1>
    <p class="col-md-8 fs-4">
        This quiz is based General Knowledge.
        It contains 10 questions.</p>
        <h3>Rules: </h3>
        <ol>
            <li>Each question contains 10 points.</li>
            <li>Correct Answer will reward 10 points</li>
            <li>Incorrect Answer will deduct 5 points</li>
            <li>You have 10 seconds to answer each question</li>
        </ol>
        <h2 style="font-family: cursive; text-align: center;">All the best!!!</h2>
        <div class="name col-md-4 my-3">
            <label for="">Enter your name:</label>
            <input #name type="text" class="form-control">
        </div>
        <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()" >Start the quiz</button>
</div>